<center> <h3>Article Edit Page </h3> </center>
<br><hr><br>

<% if @article.errors.any? %>
  <h2>Following errors prevernted the article from being saved :(</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @article, local: true) do | f | %>
  <div>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>

  <br>

  <div>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </div>

  <br>
  <%= f.submit %>
<%end%>